* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

header {
    font-size: 100px;
    line-height: 2.3;
    text-align: center;
    text-transform: uppercase;
 

  }
  
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    header {
      background-image: linear-gradient(
        to right,
        #0334fb,
        #f6ff00,
        #00ffff,
        #bb6ef6,
        #0334fb,
        #f6ff00,
        #00ffff,
        #bb6ef6, 
        #0334fb,
        #f6ff00,
        #00ffff,
        #bb6ef6
      );

  
    -webkit-background-clip: text;
    background-clip: text;

    --bg-size: 200%;
    color: transparent;
    background-size: var(--bg-size);
    animation: animate 2s linear infinite;
  }

  @keyframes animate {
  
    to {
      background-position: var(--bg-size);
    }
  }
}

    

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px; 
  height: calc(100vh - 120px);
}


body {
      background-color: black;
      overflow: hidden;
 
      
}
canvas {
  display: block;
  margin: 0 auto;
  background-color: black;
  width: 500px;
  height: 500px;
  overflow: hidden;

}

@media (max-width: 1024px) {
  canvas {
    width: 350px;
    height: 350px;
    overflow: hidden;

  }
}

@media (max-width: 500px) {
  canvas {
    width: 320px;
    height: 320px;
    overflow: hidden;

   
  }
}


