* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

header {
    font-size: 100px;
    line-height: 2.3;
    text-align: center;
    text-transform: uppercase;
 

  }
  
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    header {
      background-image: linear-gradient(
        to right,
        #0334fb,
        #f6ff00,
        #00ffff,
        #bb6ef6,
        #0334fb,
        #f6ff00,
        #00ffff,
        #bb6ef6, 
        #0334fb,
        #f6ff00,
        #00ffff,
        #bb6ef6
      );

  
    -webkit-background-clip: text;
    background-clip: text;

    --bg-size: 200%;
    color: transparent;
    background-size: var(--bg-size);
    animation: animate 2s linear infinite;
  }

  @keyframes animate {
  
    to {
      background-position: var(--bg-size);
    }
  }
}

    

main {
    position: relative; 
    height: 100vh; 
    width: 100%;
    
  
}

body {
  overflow: hidden; 
      background-color: black;
      
}

canvas {
  display: block;
  position: absolute;
  top: 30%; /* Ajustez en fonction de la hauteur du header */
  left: 0;
  width: 100%;
  height: calc(100% - 100px); /* Hauteur totale moins la hauteur du header */
  background-color: black;
}